html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #e6d0d0;
}
h1 {
    color: var(--Grays-Black, #ff483f);
    text-align: center;
    font-family: "Jockey One";
    font-size: 10vw;
    font-style: normal;
    font-weight: 350;
    line-height: 120%;
}

h2 {
    color: var(--Grays-Black, #252121);
    text-align: center;
    font-family: "Jockey One";
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

h3 {
    color: var(--Grays-Black, #ff5c54);
    font-family: "Jockey One";
    font-size: 6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-left: 3vw;
    margin-right: 2vw;
}

p {
    color: var(--Grays-Black, #252121);
    font-family: "Jockey One";
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-left: 3vw;
    margin-right: 2vw;
}

h4 {
    color: var(--Grays-Black, #252121);
    font-family: "Baloo 2";
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

h5 {
    color: var(--Grays-Black, #000);
    font-family: "Baloo 2";
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
}

img {
    width: 70vw;
    height: auto;
    flex-shrink: 0;
    justify-content: center;
}

.icon-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


/*Tooted*/
.product-gallery {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 20px; 
}

.product-item {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 10px; 
    text-align: center; 
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.product-item img {
    width: 100%; 
    height: auto; 
    margin-top: 10px; 
    border-radius: 8px;
}

/*Carousel Menu*/
.carousel-container {
    position: relative;
    width: 50%;
    height: 60vh;
    margin: 0 auto; 
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    border-radius: 20px;
}

@media (max-width: 1024px) {
    .carousel-container {
        width: 70%;
        height: 45vh;
    }
}

@media (max-width: 768px) {
    .carousel-container {
        width: 80%;
        height: 45vh; /* Veel väiksem kõrgus keskmistel mobiilidel */
    }
}

@media (max-width: 480px) {
    .carousel-container {
        width: 90%;
        height: 30vh; /* Väga väike kõrgus väikestes mobiilides */
    }
}