body {
    background-color: #e6d0d0;
}

h1 {
    color: var(--Grays-Black, #252121);
    font-family: "Jockey One";
    font-size: clamp(2.5rem, 6vw, 5rem);
    font-style: normal;
    font-weight: 400;
    text-align: center;
}  


p {
    color: var(--Grays-Black, #252121);
    font-family: "Jockey One";
    font-size: clamp(1.5rem, 4vw, 3.5rem);
    font-style: normal;
    font-weight: 400;
}

h5 {
    color: var(--Grays-Black, #000);
    font-family: "Baloo 2";
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

img {
    max-width: 90%;
    max-height: 70vh;
    height: auto;
    object-fit: contain;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}