html, body {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: transparent;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-bottom: 0.5rem;
    max-width: 100%;
    overflow-x: auto;
    padding: 0.5rem 0;
}

.footer-links a {
    color: #000;
    text-decoration: none;
    font-family: 'Jockey One', sans-serif;
    white-space: nowrap;
}

.footer-links a:hover {
    color: #000000;
}

.footer-links .button {
    background-color: #ffeb3b;
    color: #000;
    text-decoration: none;
    padding: 0.3rem 1rem;
    border-radius: 8px;
    font-family: 'Jockey One', sans-serif;
    transition: transform 0.2s;
    font-size: 0.9rem;
    display: inline-block;
}

.footer-links .button:hover {
    transform: translateY(-2px);
}

.logo-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.logo {
    font-size: 1.5rem;
    color: #000;
}

.copyright {
    font-size: 0.8rem;
    color: #000;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer {
        display: none;
    }
}